@import url(https://db.onlinewebfonts.com/c/1801a6fff226758d3727731bf5b23ba5?family=Wes+FY);

html {
  font-family: "Wes FY", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

